<header class="header">
  <div class="header-container">
    <div class="header-content">
      <div class="header-left">
        <img
          src="../../../../assets/img/logo-bookio.png"
          alt="logo-bookio"
          class="header-logo"
        />
        <!-- <div>teste mobile</div> -->
        <div class="header-search">
          <img
            src="../../../../assets/img/icons/SearchIcon.svg"
            alt="icon-search"
            class="search-icon"
          />
          <input
            type="text"
            class="search-input"
            placeholder="Busque por título, autor, editora..."
          />
        </div>
      </div>
      <div class="header-right">
        <div class="user-section">
          <img
            src="../../../../assets/img/dda80692-7380-45b2-97f4-10f0f049979e.JPG"
            alt="user-photo"
            class="user-photo"
          />
          <span class="user-name">Ola,"User Name"!</span>
        </div>
        <button class="dropdown-button">
          <img
            src="../../../../assets/img/icons/ArrowDownIcon.svg"
            alt="arrow-down-icon"
          />
        </button>
      </div>
    </div>
  </div>
</header>
