<footer class="footer-container">
  <div class="footer-contacts">
    <img class="logo" src="assets/img/book.io-logo.png" alt="Book.io logo" />
    <div class="footer-contacts__info">
      <p>Fale conosco</p>
      <ul>
        <li class="contact">
            <img src="assets/icons/phone.svg" alt="Ícone de telefone" />
            <span>(82) 4002-8922</span>
        </li>

        <li class="contact">
            <img src="assets/icons/mail.svg" alt="Ícone de email" />
            <span>contato&#64;bookio.com.br</span>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <button (click)="scrollToTop()" class="footer-button">
      <img src="assets/icons/expand-circle-up.svg" alt="botão para voltar ao topo" />
    </button>
  </div>
</footer>
