//colors
$gray-0: #EAEEF0;
$gray-100: #F6F7FB;
$gray-200: #DFE3E6;
$gray-300: #CED4DB;
$gray-400: #97A0A7;
$gray-500: #616B73;
$gray-600: #212121;

$primary-color: #280342;
$secundary-color: #FBE90B;

// Font Sizes
$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-22: 1.375rem;
$font-size-24: 1.5rem;
$font-size-26: 1.625rem;
$font-size-30: 1.875rem;
$font-size-32: 2rem;
$font-size-36: 2.25rem;
$font-size-38: 2.375rem;
$font-size-40: 2.5rem;
$font-size-42: 2.625rem;
$font-size-64: 4rem;
$font-size-80: 5rem;

// Font Weights
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;

// Border Radio
$border-radius-4: 4px;
$border-radius-5: 5px;
$border-radius-8: 8px;
$border-radius-15: 15px;
$border-radius-16: 16px;
$border-radius-20: 20px;
$border-radius-50: 50px;
