/* You can add global styles to this file, and also import other style files */
@import './assets/theme/index.scss';
@import "tailwindcss";

/* Design tokens do projeto */
@theme {
  --color-primary-300: #F3B18A;
  --color-primary-400: #E98B5E;
  --color-primary-500: #D86A3A;
  --color-primary-600: #C4512C;

  --color-secondary-400: #F1C88E;
  --color-secondary-500: #E4B372;
  --color-secondary-600: #C4934B;

  --color-neutral-50:  #FAF6F1;
  --color-neutral-100: #F2E9E2;
  --color-neutral-200: #E6DCD4;
  --color-neutral-300: #D6C7BD;
  --color-neutral-400: #B79E92;
  --color-neutral-500: #8C746C;
  --color-neutral-600: #6A5048;
  --color-neutral-700: #4A332E;

  --color-success-100: #E5EFE3;
  --color-success-500: #759568;

  --color-error-100: #F6E8E8;
  --color-error-500: #B84040;

  --color-warning-100: #FAF0D9;
  --color-warning-500: #D49A3A;

  --color-info-100: #E5EDF1;
  --color-info-500: #7A99AD;

  --color-accent-olive: #7E8B5E;
  --color-accent-wine: #803B4D;
}
